body {
    background: var(--bg)!important;
}

.bg-light {
    background: var(--bg)!important;
}

.bg-primary, .btn-primary {
    background-color: var(--primary)!important;
}

.bg-blue-linear {
    background: var(--blue-linear)!important;
}

.btn-primary {
    border-color: var(--primary)!important;
}

.bg-white {
    background-color: var(--white)!important;
}

.color-primary {
    color: var(--primary)!important;
}

h2, .h2 {
  font-size: 16px;
  color: #222;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 5px;

}

h3, .h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.card-header {
    padding: 0.1rem 1.25rem 1rem 1.25rem!important;
}

.card-header h3 {
    margin-top: 0;
    margin-bottom: 0;
}

h4, .h4 {
    font-size: 0.8rem;
    color: var(--dark);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
}

.tall {
    min-height: calc(100vh - 120px)!important;
    max-height: calc(100vh - 120px)!important;
}

.card-14 {
    min-height: calc(50vh - 70px);
    max-height: calc(50vh - 70px);
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.card-1 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.card-12 {
    min-height: calc(50vh - 70px);
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.m--25{
    margin-right: -25px;
    margin-left: -25px;
}


.tall-table {
  min-height: calc(100vh - 310px)!important;
  max-height: calc(100vh - 310px)!important;
  overflow-y: scroll;
}

.max-scrollable-y {
  max-height: calc(100vh - 230px)!important;
  overflow-y: scroll;
}

.vl {
  border-left: 1px solid var(--primary);
  min-height: 24px;
  height: 24px;
}

.container {
    min-width: 1200px;
}

.hidden {
  display: none!important;
}

.input-height {
    margin-top: 1.2rem;
}
.overflow-y {
    overflow-y: auto;
    overflow-x: hidden;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset;
  background-color: transparent !important; }

@media(max-width: 1270px) {
.navbar-nav .nav-link {
    padding: .625rem 0;
    color: #172b4d !important;
  }

  .navbar-nav .dropdown-menu {
    box-shadow: none;
    min-width: auto;
  }

  .navbar-nav .dropdown-menu .media svg {
    width: 30px;
  }

  .navbar-collapse {
    width: calc(100% - 1.4rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    margin: .7rem;
    overflow-y: auto;
    height: auto !important;
    opacity: 0;
  }

  .navbar-collapse .navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0;
  }

  .navbar-collapse .navbar-toggler span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    opacity: 1;
    background: #283448;
  }

  .navbar-collapse .navbar-toggler :nth-child(1) {
    transform: rotate(135deg);
  }

  .navbar-collapse .navbar-toggler :nth-child(2) {
    transform: rotate(-135deg);
  }

  .navbar-collapse .navbar-collapse-header {
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar-collapse .collapse-brand img {
    height: 36px;
  }

  .navbar-collapse .collapse-close {
    z-index: 1050;
    text-align: right;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    padding: 1.5rem;
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    animation: show-navbar-collapse .2s ease forwards;
  }

  .navbar-collapse.collapsing-out {
    animation: hide-navbar-collapse .2s ease forwards;
  }
}

@media (min-width: 1270px) {
  .navbar-expand-xxl {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-nav .nav-link {
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-radius: 0.25rem;
  }

  .navbar-expand-xxl .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-xxl .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar-expand-xxl>.container,
  .navbar-expand-xxl>.container-fluid {
    padding-left: 15px;
    flex-wrap: nowrap;
  }

  .navbar-expand-xxl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-xxl .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    width: 350px;
  }
}

.navbar {
    padding: 0.3rem 0.5rem;
}

.navbar-brand {
    margin-right: 0.3rem;
}

.main-nav a {
  font-width: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(.3s), padding var(.3s);
  white-space: nowrap;
  text-decoration: none;
  height: 45px;
}

.main-nav a::after {
  position: absolute;
  display: block;
  content: '';
  transition: background-color var(.3s);
  border-radius: 3px;
  background-color: transparent;
}

.main-nav a.current::after {
  background-color: var(--primary);
}

@media only screen and (min-width: 720px) {
  .main-nav a::after {
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: transparent;
  }
}

.d-flex {
  display: flex;
}

.mt-04 {
    margin-top: 0.4rem !important
}

.mt-05 {
    margin-top: 0.5rem !important
}

.mt-07 {
    margin-top: 0.7rem !important
}

.pt-15 {
    padding-top: 15px;
}


.mt-08 {
    margin-top: 0.8rem !important
}

.inline {
    display: inline-block;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items-right {
      align-items: right;
}

.logo-svg {
    fill: var(--white);
    height: 53px;
    max-width: 47px;
    padding-top: 6px;
    margin-left: 5px;
    padding-right: 0px;
    margin-right: 0px;
}

.logo-col {
    max-width: 240px;
}

.white {
    color: var(--white);
}

.dark {
    color: var(--dark);
}

.dropdown-toggle.white:hover {
    color: var(--highlight);
}

.dropdown-toggle.white:focus {
    outline: 0;
    color: var(--highlight);
}

#chapter-dropdown::after {
    float: right;
    margin-top: 0.6rem;
}

.logo-svg > svg {
    width: 30px;
    height: 35px;
    padding-top: 5px;
    margin-right: 0rem;
}


.text-muted {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card {
    padding: 1rem;
    margin: 1rem;
    border: 0;
    border-radius: 0.2rem;
    box-shadow:0 0 0.5rem 0 rgba(136, 152, 170, .30)
}

@media (min-width: 576px) {
  .container {
    max-width: calc(100vw);
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: calc(100vw);
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: calc(100vw);
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: calc(100vw);
    padding: 0;
  }
}

[class*="btn-nooutline-"] {
  border: 0;
  color: var(--dark);
}

.btn-nooutline-secondary:hover {
  box-shadow: none;
  color: var(--primary);
}

.form-control.selectpicker, .form-control.selectpicker:focus, .form-control.selectpicker:active {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02)!important;
  border: 0;
  transition: box-shadow .15s ease;
  min-width: 120px;
  background: url('/static/fonts/fontawesome_free/svgs/solid/chevron-down.svg') no-repeat 95% 50% #fff;
  background-size: 16px  10px;
}


.source-selector {
    border-bottom: 0;
}

.source-selector a {
    border: 0!important;
    min-width: 120px;
    text-align: center;
}

.source-selector a.active {
    border-color: #fff;
    color: var(--primary)!important;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
}

.source-selector a:focus, .source-selector a:hover {
    border: 0!important;
    border-color: #fff;
    outline: none;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
}

.form-control-label {
    font-weight: bold;
    margin-top: 1rem;
}

.card-footer
{
    padding: 1.25rem 1.5rem;

    border-top: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
}
.card-footer:last-child
{
    border-radius: 0 0 calc(.375rem - 1px) calc(.375rem - 1px);
}

.btn-sm, .btn-group-sm>.btn {
  padding: 0.5rem;
}

.btn-secondary {
    background-color: var(--bg);
    color: var(--primary);
}

.btn-secondary:hover {
    border-color: var(--primary);
}


.navbar-nav .nav-link {
    font-family: "Source Sans Pro", sans-serif;
}

.btn-nooutline-secondary:focus,
.btn-nooutline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-nooutline-secondary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}



.table {
    font-size: 0.8rem!important;
}

.table-borderless, .borderless {
    border: 0!important;
}

.btn-tooltip:hover {
    box-shadow: none;
}

.tooltip {
    z-index: 2000;
}

.tooltip-inner {
    max-width: 350px;
    text-align: justify;
}

.thead-light th {
    background-color: var(--bg)!important;
    border-top: 0.1rem solid var(--primary-light)!important;
    border-bottom: 0.1rem solid var(--primary-light)!important;
    text-transform: uppercase;
    font-size: 0.7rem!important;
    color: var(--gray)!important;
    font-weight: 700;
}


.modal .modal-dialog-aside{
	width: 1200px;
	max-width:calc(95vw);
	height: 100%;
	margin:0;
	transform: translate(0);
	transition: transform .2s;
}
.modal .modal-dialog-aside .modal-body{
 padding: 0;
}

.modal .modal-dialog-aside .row{
 margin-right: 0px;
 margin-left: 0px;
}

.modal .modal-dialog-aside .modal-header{
 padding: 0px;
 height: 53px;
 max-height: 53px;
}

.modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0;}
.modal .modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }
.modal.fixed-left .modal-dialog-aside{ margin-left:auto;  transform: translateX(100%); }
.modal.fixed-right .modal-dialog-aside{ margin-right:auto; transform: translateX(-100%); }
.modal.show .modal-dialog-aside{ transform: translateX(0);  }

.btn-light, .btn-light:hover, .btn-light:active, .btn-light:focus{
    background-color: var(--white);
    border-color: var(--white);
    color: var(--dark)!important;
    text-transform: none;
    font-weight: 400;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none!important;
}

.btn-light.dropdown-toggle::after {
    border-top-color: var(--dark);
}

.dropdown-menu .dropdown-item {
    line-height: 1!important;
    padding-top: 0.5rem!important;
    padding-right: 1rem!important;
    padding-bottom: 0.5rem!important;
    padding-left: 1rem!important;
}

#chapter-dropdown-items .dropdown-item {
    line-height: 1.5!important;
    padding: 1rem!important;
}

.table tr td:first-child, .table tr th:first-child, .table-list tr td:nth-child(2), .table-list tr th:nth-child(2) {
    padding-left: 30px!important;
    width: auto!important;
}

.table tr th:first-child .th-inner, .table-list tr th:nth-child(2) .th-inner {
    padding-left: 0px!important;
}

.table tr td:last-child {
    padding-right: 30px!important;
    margin-right: 0!important;
    width: auto!important;
}

.table tr th:last-child {
    padding-right: 20px!important;
    margin-right: 0!important;
    width: auto!important;
}

.col-13 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    min-width: 400px!important;
}

.col-23 {
    min-width: 800px!important;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.table-list .bs-checkbox {
    display: none;
}

.popover {
    max-width: 425px;
    min-width: 300px;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
    background-color: var(--white);
    border: 1px solid rgba(0,0,0,.05)!important;
    padding: 1rem;
}

.popover .h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.popover label {
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
}

.popover textarea {
    border: 1px solid rgba(0,0,0,.2)!important;
    color: var(--gray);
}


