#errors {
    min-height: 150px
}
#bulkActions > .dropdown-menu {
	top: auto;
	transform: translate(-100%, -2rem);
}
#bulkActions > .dropdown-item + .dropdown-menu {
	display: none;
}
#bulkActions > .dropdown-item.submenu::before {
	content: '◂';
	margin-right: 0.5rem;
}
#bulkActions > .dropdown-item:hover + .dropdown-menu,
#bulkActions > .dropdown-menu:hover {
	display: block;
}

.space-progress {
	border-radius: 4px;
	background: rgba(43, 212, 141, 0.06);
}


a.detail-icon > i.fa-plus:before {
    content: "\f078";
	color: var(--basic);
}
a.detail-icon > i.fa-minus:before {
    content: "\f077";
	color: var(--basic);
}

