#wizard-container {
    justify-content: center;
    height: 100%;
}

#wizard-card {
    width: 1100px;
    height: 650px;
    margin: auto;
    flex-direction: row;
    justify-content: flex-end;


}

#wizard-left {
    background-color: #33137B;
}

#wizard-image {
    background-image: url("/static/img/main_component@2x.png");
    background-repeat: no-repeat;
    /*background-size: 650px;*/
    /*background-position-y: -45px;*/
    /*z-index: 100;*/
}

#wizard-step-nav {
    justify-self: baseline;
}


.slider-holder {
    /*margin-right: 10px;*/
    /*margin-left: 5px;*/
    margin: 100px;
}


.noUi-marker.noUi-marker-horizontal.noUi-marker-normal {
    /*background: var(--white)!important;*/
    background: #ccc !important;
    display: none;
}

.noUi-marker.noUi-marker-horizontal.noUi-marker-large {
    top: -9px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: none;
    cursor: pointer;
    /*background-color: var(--background);*/
    background-color: #ccc !important;
}

.noUi-value.noUi-value-horizontal.noUi-value-large {
    top: -5px !important;
}